@media(min-width: 900px) {
    .fixed {
        margin-top: 8%;
        bottom: 0;
        width: 100%;
        margin-left: 300px;
    }
}

.fixed {
    background-color: #c5efcb;
    position: relative;
    bottom: 0;
    width: 100%;
}

